<div class="row col" style="background-color:#ffffff">
  <div class="col-3">
    <a routerLink="/home">
      <img src="assets/img/logo.png" class="pl-5" style="height: 100px;width: auto;" />
    </a>
  </div>
  <div class="col-6 mt-2">
    <img src="assets/img/logo2.png" style="position: relative;bottom: 15px;">
    <img src="assets/img/slogan.png" class="mt-5">
  </div>
  <div class="col-3 mt-4">
    <h5 class="text-center text-white"><a href="#" style="color:#bf580f">العربيه</a></h5>
  </div>
</div>

<!--<div class="registration-flow">
  <ul *ngIf="mode == 1 || mode == 2 || mode == 3 || mode == 4" class="registration-step" style="padding-top:33px">
    <li [class.active]="mode == 1" [class.done]="mode == 2 || mode == 3 || mode == 4">{{ "1" }}</li>
    <li [class.active]="mode == 2" [class.done]="mode == 3 || mode == 4">{{ "2" }}</li>
    <li [class.active]="mode == 3" [class.done]="mode == 4">{{ "3" }}</li>
    <li [class.active]="mode == 4">{{ "4" }}</li>
  </ul>
</div>-->


<div style="background-color:#f5f5f5">
  <div class="d-flex flex-row justify-content-center mt-5">
    <h3 class="text-primary">Please Register & get Access Code</h3>
  </div>
  <div class="d-flex flex-row justify-content-center">
    <form *ngIf="mode == 1" #basicInfoForm="ngForm" class="d-flex flex-row justify-content-center mt-4">
      <div class="row col-10 mb-4" style="border: 1px solid #17a2b8;border-radius: 10px;">
        <div class="row col-12 mt-4 mb-3">
          <div class="col-6">
            <label class="font-weight-bold" style="color:#bf6a31">
              First Name
            </label>
            <input type="text" max="200" required class="form-control" name="txtclientFirstName" #txtclientFirstName="ngModel" [(ngModel)]="clientFirstName" />
            <div *ngIf="txtclientFirstName.errors && txtclientFirstName.touched" class="badge-danger">
              This field is required
            </div>
          </div>
          <div class="col-6">
            <label class="font-weight-bold" style="color:#bf6a31">
              Last Name
            </label>
            <input type="text" max="200" required class="form-control" id="txtclientLastName" name="txtclientLastName" #txtclientLastName="ngModel" [(ngModel)]="clientLastName" />
            <div *ngIf="txtclientLastName.errors && txtclientLastName.touched" class="badge-danger">
              This field is required
            </div>
          </div>

        </div>

        <div class="row col-12 mb-3">
          <div class="col-6">
            <label class="font-weight-bold" style="color:#bf6a31">
              e-Mail
            </label>
            <div class="d-flex flex-row">
              <input type="text" max="200" required class="form-control" id="txtclientEmail" name="txtclientEmail" #txtclientEmail="ngModel" [(ngModel)]="clientEmail"
                     pattern="(?:[a-zA-Z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-zA-Z0-9!#$%&'*+/=?^_`{|}~-]+)*|'(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*')@(?:(?:[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?\.)+[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?|\[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-zA-Z0-9-]*[a-zA-Z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])"
                     style="width:80% !important" />
              <button class="btn btn-success ml-2" [disabled]="txtclientEmail.errors">Send</button>

            </div>
            <div *ngIf="txtclientEmail.errors && txtclientEmail.touched" class="badge-danger" style="width:80%">
              {{ txtclientEmail.errors?.required? "This field is required" : "This email is not valid" }}
            </div>
          </div>
          <div class="col-6">
            <label class="font-weight-bold" style="color:#bf6a31">
              verification code
            </label>
            <div class="d-flex flex-row">
              <input type="text" max="200" required class="form-control" id="txtclientverification" name="txtclientverification" #txtclientverification="ngModel" [(ngModel)]="clientverification" style="width:80% !important" />
              <button class="btn btn-success ml-2" [disabled]="!clientverification">Verify</button>
            </div>
          </div>
        </div>

        <div class="row col-12 mb-3">
          <div class="col-6">
            <label class="font-weight-bold" style="color:#bf6a31">
              User Name
            </label>
            <input type="text" max="200" required class="form-control" name="txtclientUserName" #txtclientUserName="ngModel" [(ngModel)]="clientUserName" />
            <div *ngIf="txtclientUserName.errors && txtclientUserName.touched" class="badge-danger">
              This field is required
            </div>
          </div>
          <div class="col-6">

          </div>

        </div>

        <div class="row col-12 mb-3">

          <div class="col-6">
            <label class="font-weight-bold" style="color:#bf6a31">
              Password
            </label>
            <input type="password" max="200" required class="form-control" name="txtclientPassword" #txtclientPassword="ngModel" [(ngModel)]="clientPassword" />
            <div *ngIf="txtclientPassword.errors && txtclientPassword.touched" class="badge-danger">
              This field is required
            </div>
          </div>

          <div class="col-6">
            <label class="font-weight-bold" style="color:#bf6a31">
              Re-Password
            </label>
            <input type="password" max="200" required class="form-control" name="txtclientRePassword" #txtclientRePassword="ngModel" [(ngModel)]="clientRePassword" />
            <div *ngIf="txtclientRePassword.errors && txtclientRePassword.touched" class="badge-danger">
              This field is required
            </div>
            <div *ngIf="clientPassword != clientRePassword && txtclientRePassword.touched" class="badge-danger">
              This password doesn't match
            </div>
          </div>

        </div>

        <div class="row col-12 mb-3">
          <div class="col-6">
            <label class="font-weight-bold" style="color:#bf6a31">
              Organization Name
            </label>
            <input type="text" max="200" required class="form-control" name="txtclientOrganizationName" #txtclientOrganizationName="ngModel" [(ngModel)]="clientOrganizationName" />
            <div *ngIf="txtclientOrganizationName.errors && txtclientOrganizationName.touched" class="badge-danger">
              This field is required
            </div>
          </div>
          <div class="col-6">
            <label class="font-weight-bold" style="color:#bf6a31">
              Organization Type
            </label>
            <select class="form-control" required name="OrganizationTypeId" #OrganizationTypeId="ngModel" [(ngModel)]="clientOrganizationTypeId">
              <option [ngValue]="undefined" disabled selected>--Select--</option>
              <option *ngFor="let orgtype of OrganizationTypes" [value]="orgtype.id">
                {{ orgtype.name }}
              </option>
            </select>
            <div *ngIf="!OrganizationTypeId.valid && OrganizationTypeId.touched" class="badge-danger">
              This field is required
            </div>
          </div>
        </div>

        <div class="row col-12 mb-3">
          <div class="col-6">
            <label class="font-weight-bold" style="color:#bf6a31">
              Your Job Title
            </label>
            <input type="text" max="200" required class="form-control" name="txtclientJobTitle" #txtclientJobTitle="ngModel" [(ngModel)]="clientJobTitle" />
            <div *ngIf="txtclientJobTitle.errors && txtclientJobTitle.touched" class="badge-danger">
              This field is required
            </div>
          </div>
          <div class="col-6">

          </div>
        </div>

        <div class="row col-12 mb-2">
          <div class="col-12">
            <button class="btn btn-success float-right" [disabled]="!basicInfoForm.valid" (click)="Register()">Register</button>
          </div>
        </div>
      </div>
    </form>





  </div>
</div>








  

  



<div style="bottom: 0;width: 100%;background-color:black;color:white" class="text-center">
  <br />
  Sponsored by the American Standardization Association of Information & Communications Technology
  <br />
  <br />
</div>
